/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        overflow-y: auto !important;
    }
    .top-navbar {
        border: none;
        padding-top: 10px;
        background: #119acc url(https://resources.blogblog.com/blogblog/data/1kt/simple/gradients_light.png) repeat-x scroll 0 -400px;
        min-height: 100px;
        color: white;
        width: 100%;
        position: relative;
        border-bottom: 1px solid gray;
        text-align: left !important;
    }
    .top-navbar-contact {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .top-navbar-contact span {
        display: block !important;
    }
    .left-sidebar {
        width: 100% !important;
    }
    .article-content {
        width: 100% !important;
        margin-top: 40px;
    }
    .menu-bar {
        width: 100% !important;
        margin-top: 40px;
    }
    .search-bar {
        width: 100% !important;
        text-align: center !Important;
    }
    #content {
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
        padding: 10px 10px 20px 10px !important;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    body {
        overflow-y: auto !important;
    }
    .top-navbar {
        border: none;
        padding-top: 10px;
        background: #119acc url(https://resources.blogblog.com/blogblog/data/1kt/simple/gradients_light.png) repeat-x scroll 0 -400px;
        min-height: 100px;
        color: white;
        width: 100%;
        position: relative;
        border-bottom: 1px solid gray;
        text-align: left !important;
    }
    .top-navbar-contact {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .top-navbar-contact span {
        display: block !important;
    }
    .left-sidebar {
        width: 100% !important;
    }
    .article-content {
        width: 100% !important;
        margin-top: 40px;
    }
    .menu-bar {
        width: 100% !important;
        margin-top: 40px;
    }
    .search-bar {
        width: 100% !important;
        text-align: center !Important;
    }
    #content {
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
        padding: 10px 10px 20px 10px !important;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    body {
        overflow-y: auto !important;
    }
    .top-navbar {
        border: none;
        padding-top: 10px;
        background: #119acc url(https://resources.blogblog.com/blogblog/data/1kt/simple/gradients_light.png) repeat-x scroll 0 -400px;
        min-height: 100px;
        color: white;
        width: 100%;
        position: relative;
        border-bottom: 1px solid gray;
        text-align: left !important;
    }
    .top-navbar-contact {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .top-navbar-contact span {
        display: block !important;
    }
    .left-sidebar {
        width: 100% !important;
    }
    .article-content {
        width: 100% !important;
        margin-top: 40px;
    }
    .menu-bar {
        width: 100% !important;
        margin-top: 40px;
    }
    .search-bar {
        width: 100% !important;
        text-align: center !Important;
    }
    #content {
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
        padding: 10px 10px 20px 10px !important;
    }
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
body {
        overflow-y: auto !important;
    }
    .top-navbar {
        border: none;
        padding-top: 10px;
        background: #119acc url(https://resources.blogblog.com/blogblog/data/1kt/simple/gradients_light.png) repeat-x scroll 0 -400px;
        min-height: 100px;
        color: white;
        width: 100%;
        position: relative;
        border-bottom: 1px solid gray;
        text-align: left !important;
    }
    .top-navbar-contact {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .top-navbar-contact span {
        display: block !important;
    }
    .left-sidebar {
        width: 100% !important;
    }
    .article-content {
        width: 100% !important;
        margin-top: 40px;
    }
    .menu-bar {
        width: 100% !important;
        margin-top: 40px;
    }
    .search-bar {
        width: 100% !important;
        text-align: center !Important;
    }
    #content {
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
        padding: 10px 10px 20px 10px !important;
    }
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
body {
        overflow-y: auto !important;
    }
    .top-navbar {
        border: none;
        padding-top: 10px;
        background: #119acc url(https://resources.blogblog.com/blogblog/data/1kt/simple/gradients_light.png) repeat-x scroll 0 -400px;
        min-height: 100px;
        color: white;
        width: 100%;
        position: relative;
        border-bottom: 1px solid gray;
        text-align: left !important;
    }
    .top-navbar-contact {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .top-navbar-contact span {
        display: block !important;
    }
    .left-sidebar {
        width: 100% !important;
    }
    .article-content {
        width: 100% !important;
        margin-top: 40px;
    }
    .menu-bar {
        width: 100% !important;
        margin-top: 40px;
    }
    .search-bar {
        width: 100% !important;
        text-align: center !Important;
    }
    #content {
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
        padding: 10px 10px 20px 10px !important;
    }
}
/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
body {
        overflow-y: auto !important;
    }
    .top-navbar {
        border: none;
        padding-top: 10px;
        background: #119acc url(https://resources.blogblog.com/blogblog/data/1kt/simple/gradients_light.png) repeat-x scroll 0 -400px;
        min-height: 100px;
        color: white;
        width: 100%;
        position: relative;
        border-bottom: 1px solid gray;
        text-align: left !important;
    }
    .top-navbar-contact {
        margin-left: 20px !important;
        margin-right: 20px !important;
    }
    .top-navbar-contact span {
        display: block !important;
    }
    .left-sidebar {
        width: 100% !important;
    }
    .article-content {
        width: 100% !important;
        margin-top: 40px;
    }
    .menu-bar {
        width: 100% !important;
        margin-top: 40px;
    }
    .search-bar {
        width: 100% !important;
        text-align: center !Important;
    }
    #content {
        margin-left: auto;
        margin-right: auto;
        width: 100% !important;
        padding: 10px 10px 20px 10px !important;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {

}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {

}

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){

}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){

}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){

}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){

}
